.title-list-qari {
  width: 100px;
  margin: 30px auto 0;
  padding: 0.2em 1em;
  background-color: #0f8bff;
  box-shadow: 0 0 0 4px rgba(15, 139, 255, 0.15);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-list-qari h4 {
  font-weight: 600;
  color: white;
}
