/* @keyframes marquee {
  0% {
    -moz-transform: translateX(125%);
    -webkit-transform: translateX(125%);
    transform: translateX(125%);
  }
  100% {
    -moz-transform: translateX(-125%);
    -webkit-transform: translateX(-125%);
    transform: translateX(-125%);
  }
} */

.bar-play-murottal {
  display: grid;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
  padding: 0.3em 1em;
}

.text-bar-play-murottal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bar-play-murottal i {
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .bar-play-murottal {
    gap: 10px;
    padding: 0.3em 1em;
  }
}
