.list-surah {
  margin-top: 50px;
  padding-bottom: 90px;
}

.bar-surah {
  padding: 0.4em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbbaba;
  border-left: 4px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.bar-surah:hover {
  border-left: 4px solid #0073df;
}

.surah-name h4 {
  font-size: 1rem;
  font-weight: normal;
}

.surah-name span {
  color: #0f8bff;
}
