.list-surah {
  margin-top: 50px;
  padding-bottom: 90px;
}

.bar-surah {
  padding: 0.4em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(187, 186, 186);
  border-left: 4px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.bar-surah:hover {
  border-left: 4px solid #0073df;
}

.bar-surah .number {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.surah-name h4 {
  font-size: 1rem;
  font-weight: normal;
}

.surah-name span {
  color: #0f8bff;
}
