.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 2em;
  box-sizing: border-box;
  background-color: #fefefe;
  box-shadow: 0 1px 7px rgba(194, 194, 194, 0.2);
}

.header h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.section-btn-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0.4em 1em;
  }
}

@media screen and (max-width: 360px) {
  .header {
    padding: 0.4em 0.7em;
  }
}
