.button-controls {
  display: grid;
  grid-template-columns: 150px auto 150px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0.3em 0 100px;
}

/* Part Repeat */
#repeat {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #1077d8;
  border: 2px solid #107bdf;
  padding: 0.2em 0.7em;
  border-radius: 30px;
  cursor: pointer;
}

/* Part Middle */
.control-murottal-middle {
  display: flex;
  align-items: center;
  gap: 50px;
}

#play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  background-color: #0f8bff;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

#backward,
#forward {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 0.2em 0.5em;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  color: #1077d8;
  border: 2px solid #107bdf;
}

#backward:hover,
#forward:hover {
  border: 2px solid #0f8bff;
  background-color: #0f8bff;
  color: white;
}

.part-add-murottal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#addMurottal {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #1077d8;
  border: 2px solid #107bdf;
  padding: 0.2em 0.7em;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button-controls {
    grid-template-columns: 100px auto 100px;
  }

  .control-murottal-middle {
    gap: 35px;
  }
}

@media screen and (max-width: 576px) {
  .button-controls {
    display: grid;
    grid-template-columns: 50px auto 50px;
  }

  .control-murottal-middle {
    gap: 20px;
  }
}

@media screen and (max-width: 440px) {
  #repeat,
  #addMurottal {
    border: none;
    font-size: 1.1rem;
  }

  .control-murottal-middle {
    gap: 15px;
  }

  #backward,
  #forward {
    font-size: 1rem;
  }

  #play {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 350px) {
  .button-controls {
    display: flex;
    grid-template-columns: 50px auto 50px;
    justify-content: center;
    gap: 5px;
  }

  #repeat,
  #addMurottal {
    font-size: 1rem;
  }

  .control-murottal-middle {
    gap: 10px;
  }

  #backward,
  #forward {
    width: 30px;
    font-size: 0.9rem;
  }

  #play {
    width: 40px;
    height: 40px;
  }
}
