/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font Arab */
@font-face {
  font-family: QuranFont;
  src: url('./assets/lpmq.woff');
}

/* Animation */
@keyframes animasiAlert {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fcfcfc;
  position: relative;
}

#root {
  position: relative;
}

.success-add-lastRead {
  width: max-content;
  position: sticky;
  margin: 0 auto;
  bottom: 90px;
  color: #fcfcfc;
  padding: 0.3em 1em;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  border-radius: 8px;
  animation: animasiAlert 2.5s ease 2 alternate;
}

/* Collection */
.collection {
  padding: 1em 2em;
}

/* Ayat Favorites */
.ayat-favorites,
.playlist-murottal,
.about-us {
  margin-top: 0px;
  margin-bottom: 100px;
}

.container-list-ayatFav {
  padding: 0 2em;
}

@media screen and (max-width: 768px) {
  .collection {
    padding: 1em;
  }

  .container-list-ayatFav,
  .about-us {
    padding: 0 1em;
  }
}

@media screen and (max-width: 440px) {
  .collection {
    padding: 1em 0.5em;
  }

  .container-list-ayatFav,
  .about-us {
    padding: 0 0.5em;
  }
}
